<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.vaksys.storemanager">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".extra.MyApplication"
        android:theme="@style/AppTheme">

        <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="false"
            android:anyDensity="true" />

        <activity android:name=".activitys.Branch_Activity"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitys.NewMemberActivity"
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activitys.Ailments_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activitys.Pain_Activity"
            android:screenOrientation="portrait" >

            </activity>
        <activity android:name=".activitys.Use_Ailments_Activity"
            android:label="How To Use Ailments"
            android:screenOrientation="portrait"/>

    </application>

</manifest>